.button {
    display: block;
    width: 300px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.button:hover {
    opacity: .8;
}

.button--big {
    width: 100%;
}

.button--warning {
    background-color: rgb(242, 242, 87);
    
}

.button--danger {
    background-color: rgb(233, 83, 103);
}

.button--sucess {
    background-color: rgb(183, 222, 112);
}